body {
    background-image: url('img.folder/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1200px;
    width: auto;
}
.mainBox {
    display: block;
    height: 700px;
    width: 500px;
    background-color: black;
    border: 4px solid black;
    border-radius: 30px;
    position: absolute;
    left: calc(50% - 254px);
    top: 30px;
}
.tiktok {
    display: inline-block;
    padding: 20px 20px;
    width: 400px;
    height: 40px;
    background-color: black;
    border: 1px rgb(54, 54, 54) solid;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 300px;
}
.tiktokText, .facebookText, .twitterText {
    color: rgb(187, 162, 211);
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}
.text:hover {
    color: blueviolet;
    text-decoration: underline;
}
.tiktokLogo {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.facebook {
    display: inline-block;
    padding: 20px 20px;
    width: 400px;
    height: 40px;
    background-color: black;
    border: 1px rgb(54, 54, 54) solid;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 400px;
}
.facebookLogo {
    height: 55px;
    width: 55px;
    position: absolute;
    right: 20px;
    top: 13px;
}
.twitter {
    display: inline-block;
    padding: 20px 20px;
    width: 400px;
    height: 40px;
    background-color: black;
    border: 1px rgb(54, 54, 54) solid;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 500px;
}
.twitterLogo {
    height: 55px;
    width: 55px;
    position: absolute;
    right: 20px;
    top: 13px;
}
.mainBoxImg {
    width: 500px;
    height: 700px;
    border: none;
    border-radius: 30px;
}
footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    position: absolute;
    top: 1000px;
}
.container {
    max-width: 960px;
    margin: 0 auto;  
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}
